<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="tmp" value="./../../build/RequiredMemberAttribute/bin/AnyCPU/Debug" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="tmp">
      <package pattern="RequiredMemberAttribute*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
